{% extends 'base.html.twig' %}

{% block body %}
    <h1>sBlog</h1>
    {% for post in posts %}

        <h2><a href="{{ path('app_default_show', { 'id' : post.id }) }}">{{ post.title }}</a></h2>
        <h3>{{ post.lead }}</h3>


    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}

